/* Base styles */

.hero-section {
  display: flex;
  flex-direction: column;
  max-width: 1136px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  position: relative;
}

.hero-section .cool-sites {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  gap: 10px;
  padding: 20px 32px;
  position: absolute;
  top: 200px;
  left: 6px;
  background-color: #ffd013;
  border-radius: 12px;
  transform: rotate(-16.93deg);
}

.hero-section .group {
  position: absolute;
  width: 760px;
  height: auto;
  top: 0;
  left: 182px;
}

.svg-container {
  position: relative;
  background-color: black;
  overflow: visible;
}

.framer {
  position: relative;

  overflow: hidden;
}

.main-svg {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.gradient-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-image: url('img/gradient.svg');
  background-size: cover; /* Ensures that the background covers the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  border-radius: 50%;
  z-index: 1;
  animation: revealGradient 1.5s forwards;
}

@keyframes revealGradient {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.cool-sites, .group {
  position: relative;
  z-index: 3;
}





/* Mobile Responsive Styles */

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    height: 50vh;
  }

 .hero-section .group {
    position: static;
    width: auto; /* Adjust width for smaller screens */
    margin-top: 30px;
  }

  .hero-section .group {
    position: absolute; /* Use absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's own size */
    width: 100%; /* Adjust width to fit container */
    max-width: 800px; /* Max-width to control the size on mobile */
  }

  .hero-section .cool-sites {
    display: none; /* Hides the .cool-sites element on screens smaller than 768px */
}

  .svg-container, .framer {
    /* Adjust these styles as needed for smaller screens */
    position: relative; /* Ensure the parent is positioned relatively */
  }

  /* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .gradient-circle {
      width: 50px; /* Smaller size for mobile devices */
      height: 50px;
      /* You can also adjust the position if needed */
  }

  /* Other mobile-specific styles can go here */
}

.svg-container {
  margin-left: 10px; /* Adds a left margin of 10px */
  margin-right: 10px; /* Adds a right margin of 10px */
}

}

/* Additional media queries as needed */