.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Example background color */
  overflow: hidden; /* Prevents any overflow */
}

.hero-section video {
  width: 100%;
  height: auto;
}



.hero-section {
  position: relative;
  overflow: hidden;
}

.desktop-video, .mobile-video {
  width: 100%;
  height: auto;
}

/* Hide mobile video on larger screens */
@media (min-width: 769px) {
  .mobile-video {
      display: none;
  }
}

/* Hide desktop video on smaller screens */
@media (max-width: 768px) {
  .desktop-video {
      display: none;
  }
}
