


.intro-text {
  position: relative;
  top: -2rem;
  overflow: visible
}


.container_new.flex-vert-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center; /* This line centers text horizontally */
  height: 100vh; /* This line ensures the container takes up the full viewport height */
}


.title-gsap.margin-bottom-custom1 {
  opacity: 0;
  margin-bottom: 2rem;
  transform: scale(1.2)translateY(10vh)
}

.title-3-gsap {
  font-size: 3vw;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  margin: 10px; /* This line removes any default margin from the paragraphs */
}






















@media only screen and (max-width: 600px) {
  .intro-text {
      top: -2rem; /* Adjusted for smaller screens */
  }

  .container_new.flex-vert-center {
      height: 400px; /* Adjust height for smaller screens */
  }

  .title-gsap.margin-bottom-custom1 {
      opacity: 1; /* Change opacity if needed */
      margin-bottom: 1rem; /* Smaller margin */
      transform: scale(1) translateY(5vh); /* Adjust transformation */
  }

  .title-3-gsap {
      font-size: 5vw; /* Increase font size for better readability on small screens */
      margin: 5px; /* Adjust margin */
  }
}
